# Git
.git
.gitignore
.github/

# Entornos virtuales
env/
venv/
.venv/

# Variables de entorno
.env

# Caché y binarios de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Logs y pruebas
pip-log.txt
.pytest_cache/